# 1. import customer data into python

In [75]:
import pandas as pd

reader = pd.read_csv("Customers.csv")
reader

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
22,86066230,M,20120111,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0
23,6888521,M,20120112,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
25,85645488,M,20120111,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
28,84437746,M,20120115,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9977,90964885,M,20120121,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.00000,1,0.0,0.0
9978,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.99900,1,50.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9981,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9986,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0
9987,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0
9988,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0
9989,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0
9990,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0
9991,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0
9992,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0
9993,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0
9994,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0

# 2. Understand the data using different functions and attributes like shape, index, columns, dtypes.ndim, info(), get_dtype_counts etc

In [79]:
import pandas as pd

reader = pd.read_csv("Customers.csv")
print('SHAPE:::::', reader.shape)
print('INDEX:::::', reader.index)
print('COLUMNS:::::', reader.columns)
print('NDIM:::::', reader.dtypes.ndim)
print('INFO:::::', reader.info)
print('COUNT:::::', reader.get_dtype_counts())

SHAPE::::: (10000, 14)
INDEX::::: RangeIndex(start=0, stop=10000, step=1)
COLUMNS::::: Index(['Customer_ID', 'Gender', 'First_Date', 'First_region', 'First_state',
       'First_city', 'Recent_Date', 'Last_region', 'Last_state', 'Last_city',
       'Customer_Value', 'Buy_Times', 'Points_Earned', 'Points_Redeemed'],
      dtype='object')
NDIM::::: 1
INFO::::: <bound method DataFrame.info of       Customer_ID Gender  First_Date First_region     First_state  \
0       129609144      M    20130130         West         Gujarat
1       129627580      M    20130129        North           Delhi
2       130363481      M    20130221         West         Gujarat
3        49817480      M    20130222         West     Maharashtra
4       126343829      F    20130301        North           Delhi
5         8223758      F    20130314         West         Gujarat
6       131816709      M    20130318        South  Andhra Pradesh
7       118543320      F    20130321        North   Uttar Pradesh
8       131365512      M    20130323         East     West Bengal
9          758571      M    20130324        South       Karnataka
10       85489184      M    20120101         West     Maharashtra
11       85438231      M    20120103         West     Maharashtra
12       74053888      F    20120102         West         Gujarat
13        7256956      M    20120102        North       Rajasthan
14        1610085      F    20120103        North           Delhi
15        7518872      M    20120104        North   Uttar Pradesh
16        8638553      M    20120103         West         Gujarat
17       85438392      M    20120103         West         Gujarat
18       63508964      M    20120106         West     Maharashtra
19       23667984      F    20120107         West     Maharashtra
20       84634600      M    20120108        South       Karnataka
21       85207999      M    20120110        South  Andhra Pradesh
22       86066230      M    20120111         West         Gujarat
23        6888521      M    20120112         West     Maharashtra
24       87030390      M    20120111         East     West Bengal
25       85645488      M    20120111        North  Madhya Pradesh
26       12935950      M    20120113         West         Gujarat
27       10954886      F    20120115        North  Madhya Pradesh
28       84437746      M    20120115         East     West Bengal
29        7514232      M    20120114        North           Delhi
...           ...    ...         ...          ...             ...
9970      5599557      F    20120115         West         Gujarat
9971      7956527      F    20120115        North           Delhi
9972     10184222      M    20120116        North   Uttar Pradesh
9973     88092811      M    20120116         West         Gujarat
9974     84750517      F    20120119         West         Gujarat
9975      5686217      M    20120118         West     Maharashtra
9976     63669926      M    20120118        South       Telangana
9977     90964885      M    20120121         West         Gujarat
9978     87989417      M    20120127         West         Gujarat
9979      6005239      M    20120129         East     West Bengal
9980     91066310      M    20120130         West         Gujarat
9981       414338      M    20120131         West         Gujarat
9982      9144258      M    20120130        South      Tamil Nadu
9983     91076263      F    20120130         East     West Bengal
9984     85012902      M    20120201         West         Gujarat
9985     14762484      M    20120131        North  Madhya Pradesh
9986     69453769      M    20120201        South      Tamil Nadu
9987      7060195      M    20120202         West         Gujarat
9988     91095093      M    20120201        South       Telangana
9989     91098168      M    20120201        South      Tamil Nadu
9990     91227615      M    20120203         West         Gujarat
9991     91136028      M    20120203         West     Maharashtra
9992       794622      F    20120203         West         Gujarat
9993     91289992      M    20120205         West     Maharashtra
9994     73876936      M    20120205         West         Gujarat
9995     50093138      M    20120208        North   Uttar Pradesh
9996     92763145      M    20120209        South       Telangana
9997     73839417      M    20120210        South       Karnataka
9998     69606859      M    20120215        North   Uttar Pradesh
9999    113292109      M    20120217         West     Maharashtra

            First_city  Recent_Date Last_region      Last_state  \
0                Surat     20130216        West         Gujarat
1                Delhi     20130129       North           Delhi
2                Surat     20130221        West         Gujarat
3     Pimpri-Chinchwad     20130222        West     Maharashtra
4                Delhi     20130301       North           Delhi
5                Surat     20130314        West         Gujarat
6        Visakhapatnam     20130318       South  Andhra Pradesh
7               Kanpur     20130321       North   Uttar Pradesh
8              Kolkata     20130331        East     West Bengal
9            Bangalore     20130325        West     Maharashtra
10              Nagpur     20120101        West     Maharashtra
11              Mumbai     20121111        East     West Bengal
12               Surat     20130314        West         Gujarat
13              Jaipur     20121126       North       Rajasthan
14               Delhi     20121013       North           Delhi
15              Kanpur     20130123       North   Uttar Pradesh
16           Ahmedabad     20120103        West         Gujarat
17           Ahmedabad     20130212       South       Telangana
18    Pimpri-Chinchwad     20130222        West     Maharashtra
19              Nagpur     20130313        West     Maharashtra
20           Bangalore     20130307       South       Karnataka
21       Visakhapatnam     20121229       South  Andhra Pradesh
22            Vadodara     20120111        West         Gujarat
23               Thane     20121210        West     Maharashtra
24             Kolkata     20130302        East     West Bengal
25              Bhopal     20120111       North  Madhya Pradesh
26               Surat     20120623        West         Gujarat
27              Indore     20130118       North  Madhya Pradesh
28             Kolkata     20130222       South       Karnataka
29               Delhi     20130108       North           Delhi
...                ...          ...         ...             ...
9970            Rajkot     20130330        West         Gujarat
9971             Delhi     20130222       North           Delhi
9972            Kanpur     20121014       North   Uttar Pradesh
9973             Surat     20130222        West         Gujarat
9974             Surat     20130319        West         Gujarat
9975             Thane     20120524        West         Gujarat
9976         Hyderabad     20130114       South       Telangana
9977             Surat     20120121        West         Gujarat
9978             Surat     20120127        West         Gujarat
9979           Kolkata     20121127       South       Telangana
9980             Surat     20130312        West         Gujarat
9981             Surat     20120131        West         Gujarat
9982           Chennai     20130313        West     Maharashtra
9983           Kolkata     20130310        East     West Bengal
9984             Surat     20130310        West         Gujarat
9985            Indore     20121211       North  Madhya Pradesh
9986           Chennai     20120201       South      Tamil Nadu
9987         Ahmedabad     20130328        West         Gujarat
9988         Hyderabad     20120201       South       Telangana
9989           Chennai     20120201       South      Tamil Nadu
9990             Surat     20120203        West         Gujarat
9991            Mumbai     20120523       South       Karnataka
9992             Surat     20120508        West         Gujarat
9993  Pimpri-Chinchwad     20120205        West     Maharashtra
9994             Surat     20130218        West         Gujarat
9995              Agra     20121114       North   Uttar Pradesh
9996         Hyderabad     20130319       South       Telangana
9997         Bangalore     20130216       South       Karnataka
9998           Lucknow     20120215       North   Uttar Pradesh
9999            Mumbai     20120217        West     Maharashtra

             Last_city  Customer_Value  Buy_Times  Points_Earned  \
0                Surat      2032.00000          2          200.0
1                Delhi      1709.00000          1          100.0
2                Surat       523.00000          1           10.0
3     Pimpri-Chinchwad      5132.00000          1          170.0
4                Delhi      1008.00000          1           60.0
5                Surat      2606.90000          1         1140.0
6        Visakhapatnam      1369.00000          1           79.0
7               Kanpur      5690.00000          1          360.0
8              Kolkata      2555.00000          2          190.0
9                Thane      2677.80000          3          145.0
10              Nagpur       855.00000          1           35.0
11            Bhatpara      5969.00000          5          294.0
12               Surat      9142.49700         10          639.0
13              Jaipur      8019.60000          5          609.0
14               Delhi     10380.19900          6         1189.0
15              Kanpur     14587.00000          6          865.0
16           Ahmedabad      1011.00000          1          115.0
17           Hyderabad      6065.30000          5          485.0
18    Pimpri-Chinchwad    145472.70200         36          680.0
19              Nagpur     19640.70000         12          268.0
20           Bangalore     32377.60200         22         1029.0
21       Visakhapatnam     17202.40000         13          449.0
22            Vadodara       900.50000          1          100.0
23    Pimpri-Chinchwad      4588.99900          4          190.0
24             Kolkata     33047.00400         31          141.0
25              Bhopal       878.00000          1           80.0
26           Ahmedabad     18358.00000          6          874.0
27              Indore     15426.39800         13         1672.0
28           Bangalore      5415.00100          6          736.0
29               Delhi     51692.99900         29         4275.0
...                ...             ...        ...            ...
9970            Rajkot     74662.77636         36           22.0
9971             Delhi     66082.19900         37         2385.0
9972            Kanpur      2031.00100          2          215.0
9973             Surat     14786.60000         12          337.0
9974             Surat     20696.90000         11         1935.0
9975             Surat     16858.09900         11          915.0
9976         Hyderabad     12863.00000          4         1030.0
9977             Surat       198.00000          1            0.0
9978             Surat       929.99900          1           50.0
9979         Hyderabad     12246.80000          6          600.0
9980             Surat     11723.00000         10          475.0
9981             Surat      1080.00000          1            0.0
9982            Mumbai     42195.09900         23         4441.0
9983           Kolkata     34492.90100         14         1591.0
9984             Surat     30123.30000          9         1555.0
9985            Bhopal     88407.50000         23         4317.0
9986           Chennai       480.00000          1           10.0
9987         Ahmedabad      6693.20000          3          645.0
9988         Hyderabad       825.99700          1           55.0
9989           Chennai       408.00000          1            0.0
9990             Surat       617.00000          1           35.0
9991         Bangalore      4383.80100          5           10.0
9992             Surat      8081.00000          4          594.0
9993  Pimpri-Chinchwad      1069.00000          1           81.0
9994             Surat      8059.59900          5          647.0
9995              Agra     13818.60000          7         1195.0
9996         Hyderabad     13016.50000          7          870.0
9997         Bangalore     44057.90000         11         2242.0
9998           Lucknow      1116.00000          1            0.0
9999            Mumbai      1222.00000          1           60.0

      Points_Redeemed
0                 0.0
1                 0.0
2                 0.0
3                 0.0
4                 0.0
5                 0.0
6                 0.0
7                 0.0
8                 0.0
9                 0.0
10                0.0
11                0.0
12                2.0
13                0.0
14                0.0
15                0.0
16                0.0
17                0.0
18            16635.0
19             2549.0
20             1771.0
21                0.0
22                0.0
23                0.0
24             2214.0
25                0.0
26                0.0
27                0.0
28                0.0
29               12.0
...               ...
9970          10472.0
9971          13520.0
9972              0.0
9973            300.0
9974              0.0
9975              0.0
9976              0.0
9977              0.0
9978              0.0
9979              0.0
9980              0.0
9981              0.0
9982              0.0
9983              0.0
9984              0.0
9985              0.0
9986            580.0
9987              0.0
9988              0.0
9989              0.0
9990              0.0
9991            370.0
9992              0.0
9993              0.0
9994              0.0
9995           1800.0
9996              0.0
9997            585.0
9998            310.0
9999              0.0

[10000 rows x 14 columns]>
COUNT::::: float64    3
int64      4
object     7
dtype: int64

# 3. What is percentage of missing values for customer Value variable?

In [20]:
import pandas as pd

reader = pd.read_csv("Customers.csv")
missing_percent = reader.Customer_Value.isnull().mean() * 100
print(missing_percent)

0.36

# 4. Create two subsets with unique and duplicate values.

In [81]:
import pandas as pd

reader = pd.read_csv("customers.csv")
reader[reader.Customer_ID.duplicated()]

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
9817,113918804,M,20120226,West,Gujarat,Ahmedabad,20120712,West,Gujarat,Ahmedabad,7048.80000,6,282.0,0.0
9818,113933467,F,20120226,South,Tamil Nadu,Chennai,20130312,East,Bihar,Patna,68863.60100,19,3374.0,0.0
9819,41337621,F,20120228,West,Gujarat,Surat,20130207,West,Gujarat,Surat,7036.00100,6,635.0,0.0
9820,6896372,M,20120228,West,Maharashtra,Nashik,20120228,West,Maharashtra,Nashik,1259.00000,1,70.0,0.0
9821,114142599,M,20120303,West,Gujarat,Surat,20130205,West,Gujarat,Surat,19136.09600,13,986.0,0.0
9822,586957,M,20120308,North,Uttar Pradesh,Kanpur,20120308,North,Uttar Pradesh,Kanpur,2022.00000,1,125.0,0.0
9823,114330400,M,20120307,West,Gujarat,Surat,20120310,West,Gujarat,Surat,1235.00000,2,90.0,0.0
9824,114731117,unknown,20120314,West,Gujarat,Surat,20120905,West,Gujarat,Surat,4216.00100,4,290.0,0.0
9825,114908563,F,20120318,West,Gujarat,Vadodara,20130327,West,Gujarat,Vadodara,34001.64287,22,198.0,1209.0
9826,823086,M,20120316,West,Maharashtra,Pimpri-Chinchwad,20130314,West,Maharashtra,Pimpri-Chinchwad,5102.59900,4,395.0,0.0
9827,114940492,F,20120317,North,Uttar Pradesh,Lucknow,20120624,North,Uttar Pradesh,Lucknow,20127.00000,9,1015.0,1530.0
9828,12605170,M,20120330,North,Uttar Pradesh,Kanpur,20120330,North,Uttar Pradesh,Kanpur,1041.00000,1,235.0,0.0
9829,50248089,F,20120330,South,Tamil Nadu,Chennai,20120628,South,Tamil Nadu,Chennai,6842.80000,3,435.0,0.0
9830,115388271,M,20120330,West,Gujarat,Rajkot,20120605,West,Gujarat,Rajkot,3858.40000,3,300.0,0.0
9831,115409564,M,20120331,North,Delhi,Delhi,20120331,North,Delhi,Delhi,3990.00000,1,30.0,0.0
9832,12646522,M,20120401,North,Uttar Pradesh,Kanpur,20130310,North,Uttar Pradesh,Kanpur,20064.40100,11,905.0,284.0
9833,84947807,M,20120403,North,Uttar Pradesh,Kanpur,20130329,North,Uttar Pradesh,Kanpur,17391.99700,14,805.0,0.0
9834,115493573,unknown,20120403,South,Andhra Pradesh,Visakhapatnam,20120403,South,Andhra Pradesh,Visakhapatnam,2390.00000,1,245.0,0.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9977,90964885,M,20120121,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.00000,1,0.0,0.0
9978,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.99900,1,50.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9981,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9986,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0
9987,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0
9988,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0
9989,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0
9990,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0
9991,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0
9992,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0
9993,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0
9994,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0

In [83]:
#unique_values=reader[reader.Customer_ID.duplicated()==False]
#unique_values.head()
import pandas as pd
reader = pd.read_csv("Customers.csv")
reader[reader.duplicated()==False]

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
22,86066230,M,20120111,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0
23,6888521,M,20120112,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
25,85645488,M,20120111,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
28,84437746,M,20120115,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9943,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9944,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0
9945,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9949,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0
9950,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0
9951,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0
9952,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0
9953,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0
9954,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0
9955,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0
9956,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0
9957,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0
9958,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9960,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9961,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0
9962,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0
9963,5989720,F,20120109,North,Uttar Pradesh,Lucknow,20130221,North,Uttar Pradesh,Lucknow,5408.80000,3,375.0,0.0
9964,74054076,F,20120110,North,Uttar Pradesh,Kanpur,20121117,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9965,86103480,M,20120112,West,Maharashtra,Mumbai,20120112,West,Maharashtra,Mumbai,408.00000,1,0.0,0.0
9966,63594593,M,20120112,East,West Bengal,Siliguri,20130204,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9967,87998623,M,20120112,East,West Bengal,Durgapur,20130228,North,Uttar Pradesh,Kanpur,24378.00000,9,1506.0,0.0
9968,60082781,M,20120115,North,Haryana,Gurgaon,20120220,North,Uttar Pradesh,Ghaziabad,3281.90100,4,335.0,100.0
9969,88068705,M,20120116,West,Gujarat,Surat,20120704,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0

# 5. Create data set with list of customers whose customer value greater than 10000.

In [84]:
import pandas as pd 

reader = pd.read_csv("Customers.csv")
reader[reader.Customer_Value > 10000]

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
30,328670,M,20120115,North,Delhi,Delhi,20130302,North,Delhi,Delhi,10547.79600,11,574.0,2120.0
31,237645,M,20120117,North,Madhya Pradesh,Indore,20130318,North,Madhya Pradesh,Indore,173171.70000,34,12737.0,0.0
32,36292837,M,20120118,West,Gujarat,Surat,20130313,West,Gujarat,Surat,18412.20000,19,158.0,1260.0
35,73792250,M,20120128,West,Gujarat,Surat,20130305,West,Gujarat,Surat,29460.00000,6,2440.0,0.0
37,73957360,M,20120129,West,Gujarat,Surat,20130306,West,Gujarat,Surat,28291.29800,29,225.0,1886.0
38,8068420,F,20120131,North,Uttar Pradesh,Kanpur,20130224,South,Tamil Nadu,Chennai,11316.00100,6,684.0,267.0
39,3021033,M,20120131,South,Karnataka,Bangalore,20130218,South,Karnataka,Bangalore,48674.40100,6,244.0,2270.0
40,5912830,F,20120202,East,West Bengal,South Dumdum,20130318,East,Jharkhand,Dhanbad,15478.00000,9,1895.0,0.0
42,9046409,M,20120206,West,Maharashtra,Mumbai,20130327,West,Maharashtra,Mumbai,20520.80000,13,641.0,780.0
43,93630,M,20120208,West,Gujarat,Surat,20130202,West,Gujarat,Surat,11148.00000,7,960.0,0.0
44,85323066,F,20120208,West,Maharashtra,Mumbai,20130202,West,Maharashtra,Mumbai,41852.79800,16,1453.0,415.0
45,303753,M,20120208,North,Madhya Pradesh,Indore,20130321,North,Madhya Pradesh,Indore,54342.00000,32,2061.0,9320.0
46,49886011,F,20120208,West,Maharashtra,Mumbai,20120518,South,Karnataka,Bangalore,15092.80000,5,1381.0,0.0
50,85613515,M,20120213,West,Gujarat,Surat,20130312,West,Gujarat,Surat,37192.00100,13,1837.0,540.0
53,55802349,F,20120224,West,Gujarat,Ahmedabad,20130225,West,Gujarat,Ahmedabad,15695.50000,9,983.0,0.0
54,84874275,M,20120224,West,Maharashtra,Pimpri-Chinchwad,20130322,West,Maharashtra,Pimpri-Chinchwad,107078.39900,37,4083.0,0.0
55,6898330,F,20120227,West,Gujarat,Surat,20130308,West,Gujarat,Surat,20211.90000,17,1205.0,0.0
57,113932157,F,20120302,West,Gujarat,Surat,20130201,West,Gujarat,Surat,32085.69800,16,537.0,2401.0
58,1747708,F,20120303,South,Karnataka,Bangalore,20130324,North,Madhya Pradesh,Indore,18881.78574,14,588.0,2481.0
59,2780625,M,20120303,West,Gujarat,Surat,20130124,West,Gujarat,Surat,16471.90100,9,555.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9939,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9942,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9943,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9945,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9958,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9960,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9964,74054076,F,20120110,North,Uttar Pradesh,Kanpur,20121117,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9966,63594593,M,20120112,East,West Bengal,Siliguri,20130204,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9967,87998623,M,20120112,East,West Bengal,Durgapur,20130228,North,Uttar Pradesh,Kanpur,24378.00000,9,1506.0,0.0
9969,88068705,M,20120116,West,Gujarat,Surat,20120704,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0

# 6. In customer table, create a new variable called â€œcustomer value segmentâ€ using customer value as follows. - 
- High Value Segment - > 25000 
- Medium Value Segment â€“ Between 10000 and 25000 
- Low Value Segment â€“ less than or equal to 10000

In [96]:
import pandas as pd

reader = pd.read_csv("Customers.csv")

CV = reader.Customer_Value
reader['Customer_value_segment'] = IF(CV > 25000,'HighSegment',IF((CV >10000) & (CV<25000),'Medium Segment','Low Segment'))
reader

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,Customer_value_segment
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0,Low Segment
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0,Low Segment
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0,Low Segment
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0,Low Segment
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0,Low Segment
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0,Low Segment
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0,Low Segment
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0,Low Segment
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0,Low Segment
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0,Low Segment
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0,Low Segment
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0,Low Segment
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0,Low Segment
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0,Low Segment
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0,Medium Segment
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0,Medium Segment
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0,Low Segment
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0,Low Segment
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0,HighSegment
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0,Medium Segment
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0,HighSegment
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0,Medium Segment
22,86066230,M,20120111,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0,Low Segment
23,6888521,M,20120112,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0,Low Segment
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0,HighSegment
25,85645488,M,20120111,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0,Low Segment
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0,Medium Segment
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0,Medium Segment
28,84437746,M,20120115,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0,Low Segment
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0,HighSegment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0,HighSegment
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0,HighSegment
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0,Low Segment
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0,Medium Segment
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0,Medium Segment
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0,Medium Segment
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0,Medium Segment
9977,90964885,M,20120121,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.00000,1,0.0,0.0,Low Segment
9978,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.99900,1,50.0,0.0,Low Segment
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0,Medium Segment
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0,Medium Segment
9981,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0,Low Segment
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0,HighSegment
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0,HighSegment
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0,HighSegment
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0,HighSegment
9986,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0,Low Segment
9987,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0,Low Segment
9988,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0,Low Segment
9989,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0,Low Segment
9990,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0,Low Segment
9991,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0,Low Segment
9992,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0,Low Segment
9993,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0,Low Segment
9994,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0,Low Segment
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0,Medium Segment
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0,Medium Segment
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0,HighSegment
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0,Low Segment
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0,Low Segment

# 7. Create variables â€œaverage revenue per tripâ€ and â€œbalance pointsâ€ in the customer data set.

In [111]:
import pandas as pd

reader = pd.read_csv("Customers.csv")
reader["average_revenue_per_trip"] = reader.Customer_Value / reader.Buy_Times
reader["balance_points"] = reader.Points_Earned - reader.Points_Redeemed
reader

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,average_revenue_per_trip,balance_points
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0,1016.000000,200.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0,1709.000000,100.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0,523.000000,10.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0,5132.000000,170.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0,1008.000000,60.0
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0,2606.900000,1140.0
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0,1369.000000,79.0
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0,5690.000000,360.0
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0,1277.500000,190.0
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0,892.600000,145.0
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0,855.000000,35.0
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0,1193.800000,294.0
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0,914.249700,637.0
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0,1603.920000,609.0
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0,1730.033167,1189.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0,2431.166667,865.0
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0,1011.000000,115.0
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0,1213.060000,485.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0,4040.908389,-15955.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0,1636.725000,-2281.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0,1471.709182,-742.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0,1323.261538,449.0
22,86066230,M,20120111,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0,900.500000,100.0
23,6888521,M,20120112,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0,1147.249750,190.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0,1066.032387,-2073.0
25,85645488,M,20120111,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0,878.000000,80.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0,3059.666667,874.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0,1186.646000,1672.0
28,84437746,M,20120115,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0,902.500167,736.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0,1782.517207,4263.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0,2073.966010,-10450.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0,1786.005378,-11135.0
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0,1015.500500,215.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0,1232.216667,37.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0,1881.536364,1935.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0,1532.554455,915.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0,3215.750000,1030.0
9977,90964885,M,20120121,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.00000,1,0.0,0.0,198.000000,0.0
9978,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.99900,1,50.0,0.0,929.999000,50.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0,2041.133333,600.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0,1172.300000,475.0
9981,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0,1080.000000,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0,1834.569522,4441.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0,2463.778643,1591.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0,3347.033333,1555.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0,3843.804348,4317.0
9986,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0,480.000000,-570.0
9987,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0,2231.066667,645.0
9988,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0,825.997000,55.0
9989,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0,408.000000,0.0
9990,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0,617.000000,35.0
9991,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0,876.760200,-360.0
9992,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0,2020.250000,594.0
9993,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0,1069.000000,81.0
9994,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0,1611.919800,647.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0,1974.085714,-605.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0,1859.500000,870.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0,4005.263636,1657.0
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0,1116.000000,-310.0
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0,1222.000000,60.0

# 8. How many days between last purchase date and today?

In [108]:
import pandas as pd 
import datetime as dt

reader = pd.read_csv("Customers.csv")
today = pd.to_datetime(dt.datetime.now().date())
l_date = pd.to_datetime(reader.Recent_Date, format = '%Y%m%d')
diff = today - l_date
diff

0      2372 days
1      2390 days
2      2367 days
3      2366 days
4      2359 days
5      2346 days
6      2342 days
7      2339 days
8      2329 days
9      2335 days
10     2784 days
11     2469 days
12     2346 days
13     2454 days
14     2498 days
15     2396 days
16     2782 days
17     2376 days
18     2366 days
19     2347 days
20     2353 days
21     2421 days
22     2774 days
23     2440 days
24     2358 days
25     2774 days
26     2610 days
27     2401 days
28     2366 days
29     2411 days
          ...
9970   2330 days
9971   2366 days
9972   2497 days
9973   2366 days
9974   2341 days
9975   2640 days
9976   2405 days
9977   2764 days
9978   2758 days
9979   2453 days
9980   2348 days
9981   2754 days
9982   2347 days
9983   2350 days
9984   2350 days
9985   2439 days
9986   2753 days
9987   2332 days
9988   2753 days
9989   2753 days
9990   2751 days
9991   2641 days
9992   2656 days
9993   2749 days
9994   2370 days
9995   2466 days
9996   2341 days
9997   2372 days
9998   2739 days
9999   2737 days
Name: Recent_Date, Length: 10000, dtype: timedelta64[ns]

# 9. Calculate percentage of sales by each last city, state and region.

In [167]:
import pandas as pd

reader = pd.read_csv("Customers.csv")
columns= reader[['Last_region', 'Last_state', 'Last_city', 'Customer_Value']]
percent_of_sales = columns.groupby(['Last_region', 'Last_state', 'Last_city'])['Customer_Value'].sum()/columns.Customer_Value.sum()
print('Sales Percent')
print('---------------------------------------------------------------------')
print(percent_of_sales)

Sales Percent
---------------------------------------------------------------------
Last_region  Last_state         Last_city
East         Assam              Guwahati            0.015573
             Bihar              Begusarai           0.000206
                                Bhagalpur           0.000022
                                Katihar             0.000469
                                Patna               0.001851
                                Purnia              0.000059
             Jharkhand          Dhanbad             0.001975
                                Jamshedpur          0.000028
                                Ranchi              0.000453
             Tripura            Agartala            0.000188
             West Bengal        Asansol             0.000030
                                Baranagar           0.000160
                                Barasat             0.000040
                                Bhatpara            0.000635
                                Howrah              0.000178
                                Kolkata             0.055734
                                North Dumdum        0.000228
                                Panihati            0.000055
                                Rajpur Sonarpur     0.000017
                                Siliguri            0.000083
North        Chandigarh         Chandigarh          0.000328
             Chhattisgarh       Korba               0.000022
                                Raipur              0.000031
             Delhi              Delhi               0.085813
                                Karawal Nagar       0.000078
                                New Delhi           0.000021
             Haryana            Gurgaon             0.001263
                                Karnal              0.000021
                                Sonipat             0.000131
             Jammu and Kashmir  Srinagar            0.000049
                                                      ...
South        Tamil Nadu         Chennai             0.044012
                                Madurai             0.001097
                                Nagercoil           0.000051
                                Salem               0.000248
                                Thoothukudi         0.000419
                                Tirunelveli         0.000068
                                Tiruvottiyur        0.000119
             Telangana          Hyderabad           0.038068
                                Karimnagar          0.000055
                                Khammam             0.000008
                                Warangal            0.000080
West         Gujarat            Ahmedabad           0.060634
                                Gandhidham          0.000017
                                Jamnagar            0.000708
                                Rajkot              0.036418
                                Surat               0.248166
                                Vadodara            0.029857
             Maharashtra        Ambernath           0.000039
                                Aurangabad          0.000772
                                Bhiwandi            0.000031
                                Ichalkaranji        0.000286
                                Mira-Bhayandar      0.001903
                                Mumbai              0.050909
                                Nagpur              0.016909
                                Nashik              0.007371
                                Navi Mumbai         0.000106
                                Pimpri-Chinchwad    0.033146
                                Thane               0.002372
                                Ulhasnagar          0.000057
                                Vasai-Virar         0.000860
Name: Customer_Value, Length: 116, dtype: float64

# 10. What is the count of customers, average number of purchases and average purchase transaction value by last state and city.

In [165]:
import pandas as pd

reader =  pd.read_csv("Customers.csv")
cust_count = reader.Customer_ID.count()
print('Customers count : ', cust_count)
avg_num_purchases = reader.Buy_Times.mean()
print('Avearge no. of purchases : ', avg_num_purchases)
cols = reader[['Last_state', 'Last_city', 'Customer_Value']]
avg_purchase_transactions = cols.groupby(['Last_state','Last_city'])['Customer_Value'].mean()
print('Average purchase transaction')
print('-----------------------------------------------------')
print(avg_purchase_transactions)

Customers count :  10000
Avearge no. of purchases :  5.4776
Average purchase transaction
-----------------------------------------------------
Last_state         Last_city
Andhra Pradesh     Guntur                  0.000000
                   Kurnool              3113.499000
                   Tirupati             9250.000000
                   Vijayawada          24670.100100
                   Visakhapatnam       11135.137740
                   Vizianagaram        23042.600000
Assam              Guwahati            64887.960200
Bihar              Begusarai           25697.999000
                   Bhagalpur            2787.799000
                   Katihar             29301.149500
                   Patna               11568.565050
                   Purnia               7334.000000
Chandigarh         Chandigarh           6826.633167
Chhattisgarh       Korba                2786.400000
                   Raipur               3866.000000
Delhi              Delhi               10444.385080
                   Karawal Nagar        4893.300000
                   New Delhi            2660.000000
Gujarat            Ahmedabad           12283.865858
                   Gandhidham           2089.000000
                   Jamnagar            14757.433500
                   Rajkot              19370.660067
                   Surat               14611.418879
                   Vadodara             9643.594421
Haryana            Gurgaon            157822.500000
                   Karnal               2672.000000
                   Sonipat             16375.000000
Jammu and Kashmir  Srinagar             6099.000000
Jharkhand          Dhanbad             13711.677833
                   Jamshedpur           3559.999000
                                          ...
Uttar Pradesh      Aligarh              3541.444444
                   Allahabad            2791.950000
                   Bareilly            11728.333333
                   Etawah              10812.000000
                   Firozabad           15407.675000
                   Ghaziabad           10905.888423
                   Gorakhpur            5668.699750
                   Kanpur              11181.490803
                   Loni                 5172.279900
                   Lucknow             10548.547255
                   Mathura             16631.481073
                   Mau                  7174.200000
                   Meerut               5770.800143
                   Mirzapur             4881.000000
                   Muzaffarnagar        5578.600000
                   Noida                8228.600000
                   Rampur               9923.797000
                   Saharanpur          28426.250000
Uttarakhand        Dehradun             1535.001000
                   Haridwar            28271.600000
West Bengal        Asansol              3794.000000
                   Baranagar            9970.950000
                   Barasat              5034.895040
                   Bhatpara            19856.000000
                   Howrah               7417.633333
                   Kolkata             12853.575301
                   North Dumdum         9514.733333
                   Panihati             6923.003000
                   Rajpur Sonarpur      1083.000000
                   Siliguri            10379.000000
Name: Customer_Value, Length: 116, dtype: float64